body {
  text-align: center;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(153,148,233,1) 100%);
}

.text {
  color: #000;
}

.btn{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.red{
  background-color: #FF4D6D;
}

.yellow{
  background-color: #E6C229;
}

.purple{
  background-color: #9D4EDD;
}

.green{
  background-color: #95D5B2;
}

.flash {
  background-color: white;
}